{:first-step "map-counts",
 :properties {},
 :revision 1,
 :name "shakespeare",
 :steps [{:properties {:sys-key :core,
                       :standalone-system? false,
                       :source-folder-path "/home/miro/Dropbox/titanoboa/dev-resources/shakes",
                       :jobdef-name "word-count"},
          :revision 1,
          :type :map,
          :next [["*" "reduce-counts"]],
          :id "map-counts",
          :supertype :map,
          :workload-fn #titanoboa.exp/Expression{:value "(fn [{:keys [source-folder-path] :as p}]\n  (mapv \n     (fn [i] {:properties {:txt-file i}})\n     (-> source-folder-path\n         java.io.File. \n         file-seq\n         rest)))",
                                                 :type "clojure"}}
         {:properties {:commit-interval 15, :map-step-id "map-counts"},
          :revision 1,
          :type :reduce,
          :next [],
          :id "reduce-counts",
          :supertype :reduce,
          :workload-fn #titanoboa.exp/Expression{:value "(fn [value item]\n  (let [value (or value {}) \n         counts (:word-counts item)]\n         (update value  :shakes-counts #(merge-with + % counts))))",
                                                 :type "clojure"}}],
 :type nil}
