{:first-step "send-to-slack",
 :name "github2slack",
 :revision 1,
 :type nil,
 :properties {},
 :steps [{:id "send-to-slack",
          :type :http-client,
          :supertype :tasklet,
          :next [],
          :workload-fn #titanoboa.exp/Expression{:value "io.titanoboa.tasklet.httpclient/request",
                                                 :type "clojure"},
          :properties {:url "https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX",
                       :request-method :post,
                       :response-property-name :rest-response,
                       :body-only? true,
                       :form-params {:text #titanoboa.exp/Expression{:value "(str \":bug:  *BUG ALERT!* :bug: \\n\"\n    \"An issue *\" (get-in titanoboa.exp/*properties* [:issue :number]) \n     \"* was \" (:action titanoboa.exp/*properties*)  \" in repository *\"\n     (get-in titanoboa.exp/*properties* [:repository :full_name]) \"* \\n \"\n     (get-in titanoboa.exp/*properties* [:issue :url]))",
                                                                     :type "clojure"},
                                     :type "mrkdwn"},
                       :content-type :json},
          :revision 1}]}
